@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");

.top-section {
    width: 100%;
    height: 161px;
}
.custom-shape-divider-bottom-1660248042 {
    background: black;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    line-height: 0;
    /* transform: rotate(180deg); */
}

.custom-shape-divider-bottom-1660248042 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 217px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1660248042 .shape-fill {
    fill: black;
}
.main-header {
    padding-top: 5%;
    letter-spacing: 15px;
    text-align: center;
    text-shadow: 0 0 10px #00b3ff,
                0 0 20px #00b3ff,
                0 0 40px  #00b3ff,
                0 0 80px  #00b3ff,
                0 0 120px  #00b3ff;
    color: white;
    text-transform: uppercase;
    font-family: "Raleway", cursive;
    font-size: 4em;
    font-weight: 600;
    width: 100%;
    outline: none;
    background: black;
    animation: animate 5s linear infinite;
    -webkit-boxreflect: below 1px linear-gradient(transparent, #0004);
}
@keyframes animate {
    0%, 18%, 20%, 50.1%, 60%, 65.1%, 80%, 90.1%, 92%
    {
        color: #0e3742;
        text-shadow: none;
    } 
    18.1%, 20.1%, 20%, 50%, 60.1%, 80.1%, 90%, 92.1%, 100%
    {
        color: #fff;
        text-shadow: 0 0 10px #03bcf4,
        0 0 20px #03b3f4,
        0 0 40px  #03bcf4,
        0 0 80px  #03b3f4,
        0 0 160px  #03bcf4;
    }
}

.bottom-section {
    display: flex;
    flex-direction: column;
    padding-top: 15%;
    width: auto;
    padding: 15% 0% 0% 15%;
}

.section-one {
    padding-top: 20px;
}

.bottom-section .section-one-title {
    font-size: 32px;
    margin: 0;
    margin-top: -0.6em;
    text-shadow: 0 0 10px #212222,
                0 0 20px #00b3ff,
                0 0 40px  #141515,
                0 0 80px  #00b3ff,
                0 0 120px  #242424;
    color: white;

}

.paragraph-one {
    font-size: 12px;
}

.section-two {
    padding-top: 20px;
}

.bottom-section .section-two-title {
    text-align: right;
    font-size: 32px;
    margin: 0;
    margin-top: -0.6em;
    text-shadow: 0 0 10px #212222,
                0 0 20px #00b3ff,
                0 0 40px  #141515,
                0 0 80px  #00b3ff,
                0 0 120px  #242424;
    color: white;
}


.paragraph-two {
    font-size: 12px;
    text-align: right;
}